Package: com.yourname.mcplugin
Name: MCPlugin
Version: 1.0.0
Architecture: iphoneos-arm
Description: Minecraft 网易云音乐 WebView 播放器
Maintainer: yourname
Author: yourname
Section: Tweaks
Depends: mobilesubstrate
